@navwidth: 200px;
@headerheight: 50px;

header {
  position: absolute;
  height: @headerheight;
  background: #a94774;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  position: absolute;
  width: @navwidth;
  background: #a9a9a9;
  left: 0;
  top: @headerheight;
  bottom: 0;
}

main {
  position: absolute;
  left: @navwidth;
  top: @headerheight;
  bottom: 0;
  right: 0;
}