.snippet {

}

.snippetwrapper {
    margin-bottom: 30px;
    background: #fff;
    padding: 10px;

    .codepreview {
        margin-top: 10px;
        span {
            display: block;
            padding: 10px;
            background: #e8e8e8;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }
}